:root {
  --c1: #161517;
  --c2: #454e4b;
}

@font-face {
  font-family: Satoshi;
src: url(/src/styles/Satoshi-Regular.ttf);
}

 
body {
  margin: 0;
  font-family: Satoshi, Courier, monospace;
  background-color: #8a6ca7;

}
.header {
  background-color: antiquewhite;
}

.footer {
  display: flex;
  justify-content: center;
  gap:10px;
  padding: 5px;
  background-color: #b879be;

}

.scoreboard-svg {
display: flex;
gap: 10px;
}

.scoreboard-svg img {
  object-fit: contain;
}

.footer a {
  color: black;
  text-decoration: dashed;
}

.footer svg {
  /* background-color: brown */
}



.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-container {
  flex-grow: 1;
  box-sizing: border-box;
}

.cam-img {
  width: 150px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 30px;
  object-fit:cover

}

.gameboard-grid {
  
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 15px;
}

.gameboard-grid > section:hover {
  transform: scale(1.05);
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.memory-card {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items:center;
  flex-direction: column;
  background-color: rgb(199, 173, 202);

  box-shadow: 1px 1px 2px  rgb(21, 20, 20);
  border-radius: 10px;
  /* border: solid 1px black; */
}


.cam-name {
font-weight: 100;
}

.gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: aliceblue;
  border-radius: 30px;
}

.gameover img {
  width: 500px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: auto;
}

.gameover h1 {
  border-radius: 30px;
  padding: 10px;
  background-color: #f64c4c;
  font-family: Satoshi, Courier, monospace;
}

.scoreboard {

  font-family: Satoshi, Courier, monospace;
  font-weight: 400;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #b879be;
}

