.header {
  background-color: antiquewhite;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 10px;
  background-color: brown
}

.footer a {
  background-color: brown;
  text-decoration: dashed;
}

.footer svg {
  background-color: brown
}



.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cam-img {
border-radius: 30px;
  width: 140px;
  max-height: max-content;
}

.gameboard-grid {
  
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.gameboard-grid > section:hover {
  transform: scale(1.05);
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.memory-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border: solid 2px black;
}

.memory-card ::hover {
  background-color: antiquewhite;
}

.scoreboard {
  /* display:block; */
  /* position: absolute; */
}

.gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-image: linear-gradient(to bottom right, red, yellow);
}

.gameover img {
  width: 500px;
  height: auto;
}

